@font-face {
	font-family: "inconsolata";
	src: url('res/fonts/Inconsolata-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: "sourcesans";
	src: url('res/fonts/SourceSansPro-Regular.ttf')  format('truetype');
}

h1, h2, h3, h4, h5, h6 {
	font-family: "inconsolata";
	margin-bottom: 10px;
}

p, a {
	font-family: "sourcesans";
}

p {
	margin-bottom: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

pre.code {
	margin: 15px 20px;
    line-height: 1.5em;
    border-left: solid 3px #ababab;
    padding: 10px 16px;
    background-color: #fbfbfb;
}

ul {
	margin: 10px 0px 10px 20px;
	border-left: solid 1px #dbdbdb;
	list-style: none;
}

ul li {
	margin-left: 10px;
}

ul li::before {
	content: "\00BB";
	margin-right: 10px;
}

.doc-title {
	float: left;
	margin-bottom: 15px;
}

.doc-menu {
	float: right;
}

.doc-menu h4 {
	text-align: right;
}

.doc-contents {
	clear: both;
}